/* =====PC====== */

@media (min-width: 64em) {
  .go-to-top {
    width: 2%;
    position: fixed;
    bottom: 120px;
    right: 15px;
    background-color: hsla(var(--first-tone), 32%, 16%, 0.8);
    backdrop-filter: blur(2rem);
    padding: 10px 20px;
    color: var(--first-color);
    border-radius: 50%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  .go-to-top.add {
    opacity: 1;
    visibility: unset;
  }

  .light-theme .go-to-top {
    background-color: #ccc;
  }

  .go-to-top:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.5);
    background-color: var(--first-color);
    color: #fff;
  }
}

@media (min-width: 1024px) and (max-width: 1240px) {
  .fav {
    &_main {
      width: 80%;
      & div {
        top: 50%;
        right: 50%;
      }
    }
  }
  .feature_img {
    height: 400px;
  }

  .contact {
    margin: 10rem 0 20rem 0;
  }

  .go-to-top {
    width: 2%;
    position: fixed;
    bottom: 120px;
    right: 15px;
    background-color: hsla(var(--first-tone), 32%, 16%, 0.8);
    backdrop-filter: blur(2rem);
    padding: 10px 20px;
    color: var(--first-color);
    border-radius: 50%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  .go-to-top.add {
    opacity: 1;
    visibility: unset;
  }

  .light-theme .go-to-top {
    background-color: #ccc;
  }

  .go-to-top:hover {
    transform: scale(1.2);
    box-shadow: 0 0 8px rgba($color: #000000, $alpha: 0.5);
    background-color: var(--first-color);
    color: #fff;
  }
}

/* =====Tablet========== */

@media (min-width: 46.25em) and (max-width: 64em) {
  .nav_menu {
    width: 70%;
    right: 15%;
  }
  .home {
    &_buttons {
      & a {
        width: 22%;
      }
    }
    &_img {
      width: 30%;
    }

    &_social {
      left: 0;
    }
    &_scroll {
      right: -3rem;
    }
  }

  .about {
    &_box {
      margin-top: 5rem;
      &-item {
        padding: 3rem 0;
      }
    }
    &_content {
      &.col {
        align-items: center;
      }
    }
    &_btn {
      width: 25%;
      text-align: center;
      padding: 1.5rem;
    }
  }

  .skills {
    &_box {
      margin: 0 auto 5rem auto;
    }
    &_group {
      width: 100%;
      justify-content: space-between;
    }
  }

  .fav {
    &_main {
      width: 100%;
      & div {
        top: 108%;
      }
    }
    &_images {
      display: none;
    }
  }
  .feature_img {
    height: 400px;
  }
  .prev {
    top: 50%;
    left: -14rem;
  }
  .next {
    top: 50%;
    right: -14rem;
  }

  .contact {
    margin: 10rem 0 20rem 0;
  }
  .contact_img {
    margin-bottom: 5rem;
  }

  .go-to-top {
    width: 2%;
    position: fixed;
    bottom: 120px;
    right: 5px;
    background-color: hsla(var(--first-tone), 32%, 16%, 0.8);
    backdrop-filter: blur(2rem);
    padding: 10px 20px;
    color: var(--first-color);
    border-radius: 50%;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
  }

  .go-to-top.add {
    opacity: 1;
    visibility: unset;
  }

  .light-theme .go-to-top {
    background-color: #ccc;
  }
}

/* ======Mobile====== */

@media (max-width: 46.1875em) {
  .go-to-top {
    display: none;
  }

  .nav {
    margin: 1rem 2rem;
  }
  .nav_menu {
    width: 90%;
    right: 5%;
  }
  .home {
    &_buttons {
      & a {
        margin-top: 1rem;
        width: 30%;
        padding: 1.4rem 0;
      }
    }
    &_img {
      width: 45%;
    }

    &_social {
      & a {
        font-size: 2.4rem;
        &:hover {
          transform: none;
        }
      }
      left: 1rem;
      bottom: 7rem;
    }
    &_scroll {
      font-size: 2.5rem;
      bottom: 13rem;
      right: -1rem;
    }
  }

  .about {
    &_box {
      margin-top: 5rem;
      justify-content: center;
      &-item {
        padding: 2rem 0;
        margin-bottom: 1.5rem;
      }
    }
    &_content {
      &.col {
        align-items: center;
      }
    }
    &_btn {
      width: 45%;
      text-align: center;
      padding: 2rem;
    }
  }

  .skills {
    &_box {
      max-width: 90%;
      margin: 0 auto 5rem auto;
    }
    &_group {
      display: flex;
      justify-content: space-between;
      min-width: 100%;
    }
    &_data {
      & i {
        margin-left: 0;
      }
    }
  }
  .fav {
    &_main {
      width: 100%;
      & div {
        top: 104%;
      }
    }
    &_images {
      display: none;
    }
  }
  .feature_img {
    height: 400px;
  }
  .prev {
    font-size: 2.5rem;
    left: -12rem;
    &:hover {
      transform: none;
    }
  }
  .next {
    font-size: 2.5rem;
    right: -12rem;
    &:hover {
      transform: none;
    }
  }

  .contact {
    margin: 10rem 0 20rem 0;
  }
  .contact_img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    max-width: 90%;
  }

  .contact_card {
    max-width: 90%;
  }
}
